/*RESETEO*/
* {
    margin: 0%;
    padding: 0%;
}


/*ESTILOS DEL HEADER*/




/* MENU */

.navbar {
    font-family: 'Poppins', sans-serif;

}





/*H1 TEXTO Y IMAGEN NOSOTROS*/

.h1-nosotros a {
    text-decoration: none;
    color: white;
}

.h1-nosotros {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    padding: auto;
    margin: auto;

}


/*H1 TEXTO Y IMAGEN PORTFOLIO*/

.h1-portfolio a {
    text-decoration: none;
    color: white;

}

.h1-portfolio {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    padding: auto;
    margin: auto;
}




/*H1 TEXTO Y IMAGEN SERVICIOS*/

.h1-servicios a {
    text-decoration: none;
    color: white;

}

.h1-servicios {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    padding: auto;
    margin: auto;
}

/*H1 TEXTO Y IMAGEN FOTOGRAFIA*/


.h1-foto {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    padding: auto;
    margin: auto;
}




/* IMAGEN CLIENTES */





/*FOOTER*/

.container {
    color: white;
    display: flex;
    padding left: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 20px;
}
.container a{
    text-decoration: none;
}








/*IMAGEN ADENTRO DE NOSTROS*/

.adentro-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-size: cover;
    background-position: center;
    background: url(images/nosotros-adentro.png);
    background-size: cover;
    background-position: center;
    padding: 300px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
}


.h1-adentro-nosotros {
    
    margin: auto;

}


/* TITULO NOSOTROS Y PARRAFO */

.h1-adentro-nosotros h1{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}


.h1-adentro-nosotros p{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    
}

/*VIDEO SERVICIOS*/
.adentro-servicios {
    min-height: 100vh;
    z-index: 2;
}

.servicios-video {
    position: relative;
}

.servicios-video h1 {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.servicios-video video {
    width: 100%;
}




.h1-adentro-servicios{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;

}

.h1-adentro-servicios video {
    padding-bottom: 200px;
    display: block;
}

.h1-servicios-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
}

.h1-servicios-2 img {
    width: 100%;
}

/*Pagina contacto*/



.h1-adentro-contacto {
    
    margin: auto;

}


/*FORMULARIO CONTACTO*/
.form-fila {
    background: url(images/adentro-servicios.png);
    background-size: cover;
    background-position: center;
    background: url(images/adentro-servicios.png);
    background-size: cover;
    background-position: center;
    padding: 300px;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    width: 100%;
    position: relative;
}




